.tag {
  display: inline-block;
  font-size: 0.8125rem;
  line-height: 1.1;
  font-weight: 600;
  color: var(--primary-blue);
  background-color: var(--gray-light-300);
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
}

.tag:hover {
  cursor: pointer;
  background-color: var(--hover-blue);
}

.tag.checked {
  color: white;
  background-color: var(--primary-blue);
}
