.feedbackCard h4 {
  margin-bottom: 0.75rem;
}

.feedbackCard p {
  margin-bottom: 0.5rem;
}

.feedbackCardTag {
  margin-bottom: 1rem;
}

.feedbackCard footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentBubble {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 700;
  font-size: 0.8125rem;
}
