.button {
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 0.8125rem;
  font-weight: 700;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .button {
    font-size: 0.875rem;
    padding: 12px 24px;
  }
}

.button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.primaryPurple {
  background-color: var(--primary-purple);
}

.primaryBlue {
  background-color: var(--primary-blue);
}

.dark {
  background-color: var(--gray-dark-b);
}

.danger {
  background-color: var(--accent-red);
}

.clean {
  background-color: transparent;
  padding: 0;
}

.link {
  background-color: transparent;
  padding: 0;
  color: var(--primary-blue);
}

.link:hover {
  text-decoration: underline;
}

.block {
  width: 100%;
}

.disabled,
.disabled:focus,
.disabled:hover {
  filter: brightness(0.8);
}
