.form > button,
form > a > button {
  margin-top: 1rem;
}

.form.submitting {
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer > a > button {
  width: 100%;
}

.formElement {
  margin-bottom: 1.5rem;
}

.formElement:last-of-type {
  margin-bottom: 2.5rem;
}

.formElement label {
  font-weight: 700;
  font-size: 0.8125rem;
  display: inline-block;
}

.formElement p {
  font-size: 0.8125rem;
  color: var(--gray-dark-c);
  margin-bottom: 1rem;
}

.formElement .errorMsg {
  display: none;
  color: var(--accent-red);
  font-size: 0.875rem;
}

.formSubmitted textarea:invalid,
.formSubmitted input:invalid {
  outline: var(--accent-red) solid 1px;
}

.formSubmitted .formElement:has(input:invalid) .errorMsg,
.formSubmitted .formElement:has(textarea:invalid) .errorMsg {
  display: block;
}

div.select {
  padding: 0.875rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 0.8125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-light-100);
}

div.select:focus,
div.select:focus-within,
div.select:active {
  outline: var(--primary-blue) solid 1px;
  box-shadow: none;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1rem;
  }
  .footer button:nth-child(3) {
    margin-right: auto;
  }
  .formElement label,
  .formElement p {
    font-size: 0.875rem;
  }
  div.select {
    font-size: 0.9375rem;
  }
}
