.feedbackDetails {
  padding: 1.5rem;
}

.feedbackDetails > header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.feedbackDetails header a {
  font-size: 0.8125rem;
  font-weight: 700;
  color: var(--gray-dark-c);
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.comments h3 {
  margin-bottom: 1.5rem;
}

.comment {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgb(140 146 179 / 25%);
}

.comment:last-of-type {
  padding: 0;
  margin: 0;
  border-bottom: none;
}

.addComment {
  margin-top: 1.5rem;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.addComment h3 {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .feedbackDetails {
    padding: 56px 40px 40px;
  }
  .feedbackDetails header a {
    font-size: 0.875rem;
  }
  .comments {
    padding: 1.5rem 2rem;
  }
}
