.form.submitting {
  opacity: 0.75;
}

.form textarea {
  font-size: 0.8125rem;
}

.form textarea::placeholder {
  font-family: "Jost";
}

.form footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.form footer p {
  color: #647196;
  font-size: 0.8125rem;
}

@media (min-width: 768px) {
  .form textarea {
    font-size: 0.9375rem;
  }

  .form footer p {
    font-size: 0.9375rem;
  }
}
