.comment {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
}

.comment img {
  width: 100%;
}

.comment p {
  color: var(--gray-dark-c);
  grid-column-start: 1;
  grid-column-end: span 2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content b {
  color: var(--primary-purple);
}

.replies {
  margin-top: 1.5rem;
}

.replies > div {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  border-left: 1px solid rgb(140 146 179 / 25%);
}

/* Styles necessary to draw left border a little bit into the last element */
.replies > div:nth-last-child(2) {
  padding-bottom: 3rem;
}

.replies > div:last-child {
  margin-top: -1.25rem;
  border-left: none;
  padding-bottom: 0;
}
/*  */

.replyForm {
  margin-top: 1rem;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.replyForm textarea {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .comment {
    column-gap: 2rem;
  }
  .comment p {
    font-size: 0.9375rem;
    grid-column-start: 2;
  }
  .replyForm {
    grid-column-start: 2;
  }
}
