.link {
  font-size: 0.8125rem;
  font-weight: 700;
  color: var(--gray-dark-c);
  text-decoration: none;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

@media (min-width: 768px) {
  .link {
    font-size: 0.875rem;
  }
}
