.drawer {
  background-color: var(--gray-light-100);
  position: fixed;
  right: -1px;
  top: 75px;
  height: 100%;
  padding: 20px;
  width: 65vw;
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;
  z-index: 3;
}

.drawer.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
  opacity: 0;
  transition: opacity 0.25s;
}

.overlay.open {
  z-index: 2;
  opacity: 0.5;
}
