.cardContainer {
  padding: 76px 24px;
  text-align: center;
}

.cardContainer img {
  width: 6.25rem;
}

.cardContainer h2 {
  margin: 2rem 0 1rem 0;
}

.cardContainer p {
  margin-bottom: 1.5rem;
  color: var(--gray-dark-c);
}

@media (min-width: 768px) {
  .cardContainer {
    padding: 110px 140px;
  }
  .cardContainer img {
    width: 8rem;
  }
  .cardContainer h2 {
    margin: 3rem 0 1rem 0;
  }

  .cardContainer p {
    margin-bottom: 3rem;
  }
}
