.voteButton {
  background-color: var(--gray-light-300);
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 4px 16px;
  border-radius: 10px;
  font-size: 0.8125rem;
}

.voteButton input {
  margin: 0;
  position: absolute;
  left: 16px;
  top: 9px;
  opacity: 0;
}

.voteButton:has(:focus-visible) {
  outline: 2px solid var(--accent-orange);
}

.voteButton:has(:checked) {
  background-color: var(--primary-blue);
  color: white;
}

.voteButton:has(:checked) path {
  stroke: white;
}

.upVoteIcon {
  transform: rotate(180deg);
}

.upVoteIcon path {
  stroke: var(--primary-blue);
}

@media (min-width: 768px) {
  .voteButton {
    flex-direction: column;
    padding: 0.75rem 0.5rem 0.5rem;
    row-gap: 0.25rem;
    width: 40px;
  }
}
